@charset "utf-8";

@import "base";

.clear {
  clear: both;
  line-height: 0;
}
.rc {
  color: #CC0000;
  width:96px;
  display: inline-block;
  white-space: nowrap;
}
.bc {
  color: #8EB0DD !important;
}
.bold {
  font-weight: bold;
}
.textl {
  text-align: left !important;
}
.acenter {
  text-align: center;
}
body {
  position: relative;
}
.w100{
  width:100px;
}
.ver_al_t{
  vertical-align: top;
  overflow: hidden;
  padding:5px 10px 0 0;
}

.ms-list {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    list-style-type: none;
}
.ms-list:hover{
  border-color: #F39698;
  // box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(82,168,236,0.6);
}
.w80{width:80px}
.w100{width:100px}
.w125{width:125px}
.w140{width:140px}
li .ck{
  height:20px;
  line-height: 20px;
  vertical-align: middle;
}
li.bgcurrent{
  background: #FFFBD7;
  border-bottom: 1px solid #fff;
}
.ms-elem-selectable {
    border-bottom: 1px solid #eee;
    color: #555;
    font-size: 14px;
    padding: 2px 0px;
    width: 100%;
    float: left;
    text-indent: 2px;
}

.ver_al_t div{
  text-align: center;
  font-size:16px;
  color:#666
}
.picking_border{
  margin:20px 0;
}

.picking_border table{
  width:100%;
}
.picking_border th{
  font-size: 16px;
  font-weight: bold;
  color:#333;
  background-color: #f3f3f3;
}
.picking_border tr th{
  border:1px solid #e3e3e3;
  text-align: center;
  height:40px;
  line-height: 40px;
  font-weight: normal;
}

.picking_border tr td{
  border:1px solid #e3e3e3;
  text-align: center;
  color:#333;
  font-size:12px;
  height:40px;
  line-height: 40px
}

.even{
  background: #eee;
}
.odd{
  background: #fafafa
}

.btndiv{
  margin-top: 20px;
}
.btndiv .btn{
  background: #EBEBEB;
  padding: 10px 25px 10px 25px;
  color: #333;
  border:none;
  font-size: 14px;
  cursor: pointer;
}
.marR25{margin-right: 25px}
.pagination{
  height:45px;
  line-height: 45px;
  float:right;
  width:800px;
  text-align: right;
}
.current{
  color: #fff !important;
  background: #cc0000;
  font-weight: bold;
}
.pagination a{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  cursor: pointer;
  display: inline;
  font-family: u5b8bu4f53,Arial;
  font-size: 14px;
  padding: 11px 13px;
  border:1px solid #e6e6e6;
  margin:0 5px;
}
.numpage{
  color:#666;
}
.disabled{
  color:#666;
}
.prev{
  color: #cc0000;
}
.next{
  color:#cc0000;
}
