/*屏幕宽度小于1190px的时候*/
@media screen and (max-width:1190px){
    /*首页主内容部分*/
    .topAdv{
        width:930px;
    }
    .container{
        width: 960px;
        .left{
            width:140px;
        }
        .right{
            width: 760px;
            .search {
                .con{
                    margin-left: 0;
                }
                p{
                    margin-left: 0;
                }
            }
            .banner{
                height: 214px;
                .big{
                    li{
                        width: 560px;
                        height: 214px;
                        img{
                          width: 560px;
                          height: 214px;
                        }
                    }
                }
            }
            .small{
              li{
                  width: 200px;
                  height: 107px;
                  img{
                    width: 200px;
                    height: 107px;
                  }
              }
            }
            .link{
                padding: 0;
                dl{
                    width: 140px;
                    margin-right: 50px;
                    margin-left:0;
                }
            }
        }
    }
}
