{% extends "account_base.html" %}
{% load account_tags %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static "css/account.css" %}">
{% endblock %}

{% block titlename %}
    正在备货--物流中心--用户中心
{% endblock %}

{% block searchbox %}
    <div class="search_box">
        <form action="{% url 'search:search' %}">
            <input class="partno" type="text" name="partno" value="{% if partno_view %}{{ partno_view }}{% else %}请输入产品型号{% endif %}">
            <input class="qty" type="text" name="qty" value="{% if qty %}{{qty}}{% else %}采购数量{% endif %}">
            <input class="submit_btn"type="submit" value="搜索">
        </form>
    </div>
{% endblock%}

{% block container %}
    {{block.super}}
    <div class="account_con">
        {% if user.jyinfo.jy_partner_id %}
        <div class="picking">
            <form action="." method="GET" style="position:relative">
                <div class="marchDiv"><ul></ul></div>
                <label for="">输入型号查询:</label>
                <input type="text" autocomplete="off" onkeyup="marchpartno()" name="partnoitem" id="partno" value="{{partnoitem}}">
            <label for="deliverycity">库房：</label>
            <select name="deliverycity" id="location">
                <option value="" selected="">显示全部</option>
                <option value="hk" {%if deliverycity == 'hk' %}selected{%endif%}>香港库房</option>
                <option value="sz" {%if deliverycity == 'sz' %}selected{%endif%}>深圳库房</option>
                <option value="bj" {%if deliverycity == 'bj' %}selected{%endif%}>北京库房</option>
            </select>
            <label for="deliverytype">交货方式：</label>
            <select name="deliverytype" id="deliverytype">
                <option value="">显示全部</option>
                <option value="model_priority" {% if deliverytype == 'model_priority' %}selected{% endif %}>到齐后发</option>
                <option value="time_priority" {% if deliverytype == 'time_priority' %}selected{% endif %}>货到即发</option>
            </select>
            <input type="submit" class="btn_smt" value="查询" onclick="showMessage()">
            </form>
        </div>
        <div class="picking_result">

        </div>
        <div class="pagewrap"></div>
        {% else %}
            您未绑定！
        {% endif %}
    </div>
    <div class="shade" style="display:none;z-index:2"></div>
{% endblock %}

{% block footerjs%}
<script type="text/javascript" src="{% static 'js/server.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/logistical.js' %}"></script>
<script type="text/javascript">
    $(function(){
      //遮罩层点击隐藏弹出窗
      $('.shade').click(function(){
        $(this).css('display','none');
        $('.detail_state').css('display','none');
      });
      initPage();
    })
    //型号查询中，型号框值输入变化触发事件
    function marchpartno(){
      $("#partno").val($("#partno").val().trim().toUpperCase());
      var marStr = new Array();
      var str = '';
      {% for picking in data %}
        {% if picking.lines_count > 0 %}
        {% for key,values in picking.lines.items %}
          {% for value in values %}
          var flag = true; //表示型号还没有加入过
          var partno = '{{value.name}}';
          if($("#partno").val().trim() != '' && $("#partno").val().trim() != '0'){
            if(partno.indexOf($("#partno").val().trim())>=0 || partno.indexOf($("#partno").val().trim().toUpperCase())>=0){
              for(var i=0;i<marStr.length;i++){
                if(partno == marStr[i]){
                  flag = false;
                  break;
                }
              }
              if(flag){
                marStr.push(partno);
                partno = partno.replace(new RegExp($("#partno").val(),'g'),'<font color="#6f6f6f" class="bold">'+$("#partno").val()+'</font>');
                str += '<li onclick="partnoSearch(this)">'+ partno +'</li>';
                flag = false;
              }
            }
          }
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      $(".marchDiv").show();
      $(".marchDiv ul").html(str);
    }

    var totalrows = {{totalrows}}                 //获取一共有多少条数据
    var currentpage = 1;                          //当前是第几页
    var pagerows = 5;                             //一页显示多少条数据
    var pagecount = 0;                            //一共有多少页
    if(totalrows % pagerows == 0){
      pagecount = Math.floor(totalrows / pagerows);
    }else{
      pagecount = Math.floor(totalrows / pagerows + 1);
    }

    function showMessage(){
      var str = '';
      {% for picking in data %}
      var index = {{ forloop.counter }}
      if(index > (currentpage-1)*pagerows && index <= currentpage*pagerows){
      {% if picking.lines_count > 0 %}
          str += '<div class="picking_border">'
              +'<table class="title"><tr>'
              +'<td>发货单号:<strong>{{picking.name}}</strong></td>'
              +'<td>订单生效时间:{{picking.so_confirmed_time}}</span></td>'
              +'<td>条目数:{{picking.lines_count}}</span></td>'
              +'<td>库房:{{picking.location}}</span></td>'
              +'<td>交货地:{{picking.location|slice:"2"}}</span></td>'
              +'<td>收货方式：<font class="cA31">'
                    {% if picking.carrier_type == '自提' %}
              +       '自提'
                    {% else %}
              +       '邮寄'
                    {% endif %}
              +    '</font></td>'
              +'</tr></table>'
              +'<table border="1" class="content">'
              +    '<tr>'
              +        '<th width="10%">订单号</th>'
              +        '<th width="16%">型号</th>'
              +        '<th width="14%">厂家</th>'
              +        '<th width="10%">供应商</th>'
              +        '<th width="8%">单价</th>'
              +        '<th width="8%">出库数量</th>'
              +        '<th width="14%">打单时间</th>'
              +        '<th width="14%">说明</th>'
              +    '</tr>'
                  {% for so, lines in picking.lines.items %}
                  {% with forloop as forloop_one %}
                  {% for one in lines %}
              +    '<tr>'
                      {% if forloop.first %}
              +        '<td rowspan="{{lines|length}}" class="bgf2">{{so}}</td>'
                      {% endif %}
              +        '<td><span class="cA31">{{one.name}}</span></td>'
              +        '<td>{{one.mfr}}</td>'
              +        '<td>{{one.supplier|title}}</td>'
              +        '<td>{{one.price}}</td>'
              +        '<td>'
                          {% for o in one.ins %}
              +            '{{o.0}}<br/>'
                          {% endfor %}
              +        '</td>'
                        {% if forloop.first and forloop_one.first %}
              +        '<td rowspan="{{picking.lines_count}}">'
              +            '{{picking.print_time}}'
              +        '</td>'
                        {% endif %}
                        {% if forloop.first and forloop_one.first %}
              +         '<td rowspan="{{picking.lines_count}}">'
                        {% if picking.account_flag and picking.notarrivenum == 0 and picking.carrier_type == '自提' %}
              +             '<span class="cA31">等待自提</span><br/>'
              +             '<span index="0" class="bgFFF0F0" onclick="show_status(this)">查看提货码</span>'
                        {% else %}
              +             '<span>正在打包</span>'
                        {% endif %}
              +         '</td>'
                        {% endif %}
              +    '</tr>'
                  {% endfor %}
                  {% endwith %}
                  {% endfor %}
              +   '</table>'
              +   '</div>'
      }
        {% endif %}
        {% endfor %}
        $(".picking_result").html(str);
    }

    function show_status(obj){
        $('.shade').css('display','block');
        // if($('.detail_state').css('display') == 'block'){
        //   $('.detail_state').css('display','none')
        //   return;
        // }else if($('.detail_state').css('display') == 'none'){
        //   $('.detail_state').css('display','block')
        //   return;
        // }

        var stockpicking = $(obj).parent().parent().parent().parent().prev().find('strong:first').text();
        var curP = $(obj).offset()
        leftP = curP.left - 258;
        topP = curP.top + 25;
        $(".detail_state").remove();
        console.log('leftP='+leftP+',topP='+topP)
        $.ajax({
            url: '{% url "accounts:user_detailsofdelivery" %}',
            type: 'GET',
            data: {'stockpicking':stockpicking},
            success: function(data){
                $(".picking_result").append(data)
                $(".picking_result .detail_state").css({
                    'top': topP,
                    'left': leftP
                });
                $(obj).attr('index', '1')
            },
            error: function(){}
        })
    }
    function close_detail(obj){
        $(".detail_state").remove();
        // $('.shade').css('display','block')
    }
</script>
{% endblock %}
