{% extends "account_base.html" %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static "css/account.css" %}">
{% endblock %}

{% block titlename %}
    报价单--订单中心--用户中心
{% endblock %}

{% block searchbox %}
    <div class="search_box">
        <form action="{% url 'search:search' %}">
            <input class="partno" type="text" name="partno" value="{% if partno_view %}{{ partno_view }}{% else %}请输入产品型号{% endif %}">
            <input class="qty" type="text" name="qty" value="{% if qty %}{{qty}}{% else %}采购数量{% endif %}">
            <input class="submit_btn" type="submit" value="搜索">
        </form>
    </div>
{% endblock%}

{% block container %}
    {{block.super}}
    <div class="account_con">
        {% if user.jyinfo.jy_partner_id %}
        <div class="picking">
            <form action="." method="GET" style="position:relative">
                <div class="marchDiv"><ul></ul></div>
                <label for="">输入型号查询:</label>
                <input type="hidden" name="orderflag" value="quote">
                <input type="text" name="partnoitem" autocomplete="off" id="partno" onkeyup="marchpartno()" value={{partnoitem}}>
                <input type="submit" class="btn_smt" value="查询">
            </form>
        </div>
        <div class="picking_result">

        </div>
        <div class="pagewrap"></div>
        {% else %}
            您未绑定！
        {% endif %}
    </div>
{% endblock %}
{% block footerjs%}
<script src="{% static 'js/server.min.js' %}"></script>
<script src="{% static 'js/laydate/laydate.js' %}"></script>
<script src="{% static 'js/logistical.js' %}"></script>
<script src="{% static 'js/about_contract.js' %}"></script>
<script src="{% static 'js/jquery-form.js' %}"></script>
<script>
    $(function(){
      $('.picking_result table tr:last').css('border',0);
      //遮罩层点击隐藏弹出窗
      $('.shade').click(function(){
        $(this).css('display','none');
        $('.detail_state').remove();
      });
      initPage(true);
      setTimeout(function(){
        $("#demo").val("{{date}}")
      },10);
      about_contract();
    });

    //型号查询中，型号框值输入变化触发事件
    function marchpartno(){
      $("#partno").val($("#partno").val().trim().toUpperCase());
      var marStr = new Array();
      var str = '';
      {% for order in data %}
        {% for sol in order.sols %}
          var flag = true; //表示型号还没有加入过
          var partno = '{{sol.partno}}';
          if($("#partno").val().trim() != '' && $("#partno").val().trim() != '0'){
            if(partno.indexOf($("#partno").val().trim())>=0 || partno.indexOf($("#partno").val().trim().toUpperCase())>=0){
              for(var i=0;i<marStr.length;i++){
                if(partno == marStr[i]){
                  flag = false;
                  break;
                }
              }
              if(flag){
                marStr.push(partno);
                partno = partno.replace(new RegExp($("#partno").val(),'g'),'<font color="#6f6f6f" class="bold">'+$("#partno").val()+'</font>');
                str += '<li onclick="partnoSearch(this)">'+ partno +'</li>';
                flag = false;
              }
            }
          }
        {% endfor %}
      {% endfor %}
      $(".marchDiv").show();
      $(".marchDiv ul").html(str);
    }

    var totalrows = {{totalrows}}  //获取一共有多少条数据
    var currentpage = 1;           //当前是第几页
    var pagerows = 5;              //一页显示多少条数据
    var pagecount = 0;             //一共有多少页
    if(totalrows % pagerows == 0){
      pagecount = Math.floor(totalrows / pagerows);
    }else{
      pagecount = Math.floor(totalrows / pagerows + 1);
    }

    function showMessage(){
      var str = '';
      if($('#partno').val() == '请输入产品型号'){
         $("#partno").val('');
      }
      {% for order in data %}
      var index = {{ forloop.counter }}
      if(index > (currentpage-1)*pagerows && index <= currentpage*pagerows){
          str += '<div class="picking_border">'
              +'<table class="title">'
              +   '<tr>'
              +    '<td width="15%"><span>报价单号:<b>{{order.so_name}}</b></span></td>'
              +    '<td width="25%"><span>报价日期：{{order.create_date}}</span></td>'
              +    '<td width="10%"><span>条目数:{{order.sol_num}}</span></td>'
              +    '<td width="15%"><span>交货地:{{order.delivery_city}}</span></td>'
              +    '<td width="12%">是否过期:'
                    {% if order.is_valid %}
              +       '<span style="color:#57a000">未过期</span>'
                    {% else %}
              +       '<span style="color:#cc0001">已过期</span>'
                    {% endif %}
              +    '</td>'
              +    '<td width="13%"></td>'
              +    '<td width="10%" class="btn_contract">'
              +       '<i class="sign_pdf"></i>合同相关'
              +       '<div class="contract_border">'
              +           '<div class="content">'
              +               '<div class="download"><i class="sign_pdf"></i><span class="word">原合同</span>[<span class="btn_download old" num="{{order.so_id}}">下载</span>]</div><div class="download w108"><i class="sign_pdf"></i><span class="word">回传合同</span>[<span class="btn_download" num="{{order.so_id}}">下载</span>]</div><div class="clear"></div>'
              +               '<form class="upload_contract" action="{% url "accounts:upload_contract" %}" method="post" enctype="multipart/form-data">'
              +                   "{% csrf_token %}"
              +                   '<h3>合同上传</h3>'
              +                   '<div class="input_border">'
              +                       '<input type="text" readonly>'
              +                       '<span class="btn_file">选择文件</span>'
              +                   '<input type="file" name="contract">'
              +                   '</div>'
              +                   '<input type="hidden" name="id" value="{{order.so_id}}">'
              +                   '<input type="submit" value="上传">'
              +                   '<span class="prompt"></span>'
              +               '</form>'
              +               '<div class="white_line"></div>'
              +           '</div>'
              +       '</div>'
              +    '</td>'
              +   '</tr>'
              +'</table>'
              +'<table border="1" class="content">'
              +    '<tr>'
              +        '<th width="17%">型号</th>'
              +        '<th width="10%">批次</th>'
              +        '<th width="15%">厂家</th>'
              +        '<th width="5%">供应商</th>'
              +        '<th width="5%">数量</th>'
              +        '<th width="6%">单价</th>'
              +        '<th width="8%">小计</th>'
              +        '<th width="8%">货期(工作日)</th>'
              +        '<th width="16%">总额</th>'
              +        '<th width="10%">备注</th>'
              +    '</tr>'
                  {% for line in order.sols %}
              +    '<tr>'
              +        '<td width="17%"><span class="cA31">{{line.partno}}</span></td>'
              +        '<td width="10%">{{line.dc}}</td>'
              +        '<td width="15%">{{line.mfr}}</td>'
              +        '<td width="5%">{{line.supplier|title}}</td>'
              +        '<td width="5%">{{line.product_qty}}</td>'
              +        '<td width="6%">{{line.money_type}}{{line.sale_unit_price}}</td>'
              +        '<td width="8%">{{line.money_type}}{{line.total}}</td>'
              +        '<td width="8%">{{line.delivery_date}}</td>'
                      {% if forloop.first %}
              +        '<td width="16%" rowspan="{{order.sol_num}}">'
              +          '<span><b>{{line.money_type}}{{order.total_sale_unit_price}}</b></span><br/>'
              +        '</td>'
                      {% endif %}
                      {% if forloop.first %}
              +        '<td width="10%" rowspan="{{order.sols|length}}">{{line.note}}</td>'
                      {% endif %}
              +    '</tr>'
                  {% endfor %}
              + '</table>'
              + '</div>'
        }
        {% endfor %}
        $(".picking_result").html(str);
    }

    // function show_status(rid, obj){
    //     $('.shade').css('display','block')
    //     var flag = $(obj).attr('index')
    //     var bgcolor = $(obj).attr('class').substr(2);
    //         var curP = $(obj).offset()
    //         leftP = curP.left - 90;
    //         topP = curP.top + 20;
    //         $.ajax({
    //             url: '{% url "accounts:user_saleorderlineroute" %}',
    //             type: 'GET',
    //             // TODO NEED a sol_id add by lidong
    //             data: {'rid': rid, 'sol':rid,'bgcolor':bgcolor},
    //             success: function(data){
    //                 $(".picking_result").append(data)
    //                 $(".picking_result .detail_state").css({
    //                     'top': topP,
    //                     'left': leftP
    //                 });
    //                 $(obj).attr('index', '1')
    //             },
    //             error: function(){}
    //         })
    // }
    // function close_detail(obj, sol){
    //     $(".detail_state").remove();
    //     $("." + sol).attr('index', '0')
    // }
</script>
{% endblock %}
