{% extends "account_base.html" %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static "css/account.css" %}">
{% endblock %}

{% block titlename %}
    已签收--物流中心--用户中心
{% endblock %}

{% block searchbox %}
    <div class="search_box">
        <form action="{% url 'search:search' %}">
            <input class="partno" type="text" name="partno" value="{% if partno_view %}{{ partno_view }}{% else %}请输入产品型号{% endif %}">
            <input class="qty" type="text" name="qty" value="{% if qty %}{{qty}}{% else %}采购数量{% endif %}">
            <input class="submit_btn"type="submit" value="搜索">
        </form>
    </div>
{% endblock%}

{% block container %}
<link rel="stylesheet" href="{% static "css/zoombox.css" %}">
    <div class="account_menu">
        <ul class="menu_f">
            <li><div id="iconDd" class="icon"></div>
                <div class="menu_title">订单中心</div>
                <ul>
                    <li><a href="{% url 'accounts:user_saleorderlist' %}?orderflag=quote">报价单</a></li>
                    <li><a href="{% url 'accounts:user_saleorderlist' %}?orderflag=order">当前订单</a></li>
                    <li><a href="{% url 'accounts:user_saleorderlist_al' %}">历史订单</a></li>
                </ul>
            </li>
            <li><div id="iconWl" class="icon"></div>
                <div class="menu_title">物流中心</div>
                <ul>
                  <li><a href="{% url 'accounts:user_supplier_already'%}">供应商已发货</a></li>
                  <li><a href="{% url 'accounts:user_goodsarriveport'%}">货已到港</a></li>
                  <li><a href="{% url 'accounts:user_customer_finish'%}">报关完成</a></li>
                  <li><a href="{% url 'accounts:user_already_instorage' %}">已入库</a></li>
                  <li><a href="{% url 'accounts:user_alreadyinstorage_preparegoods' %}">正在备货</a></li>
                  <li><a href="{% url 'accounts:user_stockpicking_al' %}">已发货</a></li>
                  <!--<li class="active"><a href="{% url 'accounts:user_stockpicking_self_finished' %}">已签收</a></li>-->
                </ul>
            </li>
        </ul>
    </div>
    <div class="account_con">
        {% if user.jyinfo.jy_partner_id %}
        <div class="picking">
            <form action="." method="get" style="position:relative">
                <div class="marchDiv"><ul></ul></div>
                <label for="partnoitem">输入型号查询:</label>
                <input name="partnoitem" type="text" autocomplete="off" onkeyup="marchpartno()" id="partno" value='{{partnoitem}}'>
                <label for="deliverycity">交货地：</label>
                <select name="deliverycity" id="location" onchange="showMessage()">
                    <option value="">全部</option>
                    <option value="hk" {%if deliverycity == 'hk' %}selected{%endif%}>香港</option>
                    <option value="sz" {%if deliverycity == 'sz' %}selected{%endif%}>深圳</option>
                    <option value="bj" {%if deliverycity == 'bj' %}selected{%endif%}>北京</option>
                </select>
                <input type="submit" class="btn_smt" value="查询" onclick="showMessage()">
            </form>
        </div>
        <div class="picking_result">

        </div>
        <div class="pagewrap"></div>
        {% else %}
            您未绑定！
        {% endif %}
    </div>
{% endblock %}

{% block footerjs%}
<script type="text/javascript" src="{% static 'js/server.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/laydate/laydate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/logistical.js' %}"></script>
<script>
    $(function(){
      initPage();
      setTimeout(function(){
        $("#demo").val("{{date}}")
      },10);
    })
    function showimg(obj){
      $(obj).find('div').eq(0).css('display','block');
    }
    function hideimg(obj){
      $(obj).find('div').eq(0).css('display','none');
    }
    function chooseData(){
      marchDateColor();
    }

    //型号查询中，型号框值输入变化触发事件
    function marchpartno(){
      $("#partno").val($("#partno").val().trim().toUpperCase());
      var marStr = new Array();
      var str = '';
      {% for picking in data %}
        {% if picking.lines_count > 0 %}
        {% for key,values in picking.lines.items %}
          {% for value in values %}
          var flag = true; //表示型号还没有加入过
          var partno = '{{value.name}}';
          if($("#partno").val().trim() != '' && $("#partno").val().trim() != '0'){
            if(partno.indexOf($("#partno").val().trim())>=0 || partno.indexOf($("#partno").val().trim().toUpperCase())>=0){
              for(var i=0;i<marStr.length;i++){
                if(partno == marStr[i]){
                  flag = false;
                  break;
                }
              }
              if(flag){
                marStr.push(partno);
                partno = partno.replace(new RegExp($("#partno").val(),'g'),'<font color="#6f6f6f" class="bold">'+$("#partno").val()+'</font>');
                str += '<li onclick="partnoSearch(this)">'+ partno +'</li>';
                flag = false;
              }
            }
          }
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      $(".marchDiv").show();
      $(".marchDiv ul").html(str);
    }

    var totalrows = {{totalrows}}                 //获取一共有多少条数据
    var currentpage = 1;                          //当前是第几页
    var pagerows = 5;                             //一页显示多少条数据
    var pagecount = 0;                            //一共有多少页
    if(totalrows % pagerows == 0){
      pagecount = Math.floor(totalrows / pagerows);
    }else{
      pagecount = Math.floor(totalrows / pagerows + 1);
    }

    function showMessage(){
      var str = '';
      {% if data %}
      {% for picking in data %}
      var index = {{ forloop.counter }}
      if(index > (currentpage-1)*pagerows && index <= currentpage*pagerows){
          str += '<div class="picking_border">'
              +'<table class="title"><tr>'
              +'<td><span>发货单号:<strong>{{picking.name}}</strong></span></td>'
              +'<td><span>订单生效时间:{{picking.so_confirmed_time}}</span></td>'
              +'<td><span>条目数:{{picking.lines_count}}</span></td>'
              +'<td><span>库房:{{picking.location}}</span></td>'
              +'<td><span>交货地:{{picking.location|slice:"2"}}</span></td>'
              +'<td><span>收货方式：<font class="cA31">'
                  {% if picking.carrier_type == '自提' %}
              +       '自提'
                  {% else %}
              +       '邮寄'
                  {% endif %}
              +'</font></span></td>'
              +'</tr></table>'
              +'<table border="1">'
              +    '<tr>'
              +        '<th width="10%">订单号</th>'
              +        '<th width="13%">型号</th>'
              +        '<th width="14%">厂家</th>'
              +        '<th width="10%">供应商</th>'
              +        '<th width="8%">单价</th>'
              +        '<th width="8%">入库数量</th>'
              +        '<th width="4%">小计</th>'
              +        '<th width="9%">发货数量</th>'
              +        '<th width="16%">签收时间</th>'
              +        '<th width="10%">说明</th>'
              +    '</tr>'
                  {% for so, lines in picking.lines.items %}
                  {% with forloop as forloop_one %}
                  {% for one in lines %}
                  {% if one.sign_qty != 0 %}
              +    '<tr>'
                      {% if forloop.first %}
              +        '<td rowspan="{{lines|length}}" class="bgf2">{{so}}</td>'
                      {% endif %}
              +        '<td style="color:#cc0000">{{one.name}}</td>'
              +        '<td>{{one.mfr}}</td>'
              +        '<td>{{one.supplier|title}}</td>'
              +        '<td>{{one.price}}</td>'
              +        '<td>{{one.order_qty}}</td>'
              +        '<td>{{one.totalprice}}</td>'
              +        '<td>'
              +          '{{one.sign_qty}}'
              +        '</td>'
              +        '<td>{{one.sign_time}}</td>'
              +        '<td rowspan="{{picking.lines_count}}">'
                        {% if picking.carrier_type == '自提' %}
              +          '<span class="bgFF9233" onmouseover="showimg(this)" onmouseout="hideimg(this)">查看'
              +            '<div class="viewPic">'
                            {% for img in picking.imgs_name %}
              +                '<img style="width:320px;height:240px" src="http://kufangimg.dzji.com/{{img}}.jpg" />'
                            {% endfor %}
              +            '</div>'
              +          '</span>'
                        {% endif %}
              +        '</td>'
              +    '</tr>'
                  {% endif %}
                  {% endfor %}
                  {% endwith %}
                  {% endfor %}
              +'</table>'
              +'</div>'
            }
        {% endfor %}
        {% else %}
      +      '暂无自提订单信息'
        {% endif %}
        $(".picking_result").html(str);
    }

    function show_status(sol, obj){
        var flag = $(obj).attr('index');
        var bgcolor = $(obj).attr('class').substr(2);
        if(flag == '0'){
            var curP = $(obj).find('span').offset()
            leftP = curP.left - 90;
            topP = curP.top + 20;
            $(".detail_state").remove();
            $.ajax({
                url: '{% url "accounts:user_saleorderlineroute" %}',
                type: 'GET',
                data: {'sol': sol,'bgcolor':bgcolor},
                success: function(data){
                    $(".picking_result").append(data)
                    $(".picking_result .detail_state").css({
                        'top': topP,
                        'left': leftP
                    });
                    $(obj).attr('index', '1')
                },
                error: function(){}
            })
        }else{
            $(".detail_state").remove();
            $(obj).attr('index', '0')
        }
    }
    function close_detail(obj, sol){
        $(".detail_state").remove();
        $("." + sol).attr('index', '0')
    }
</script>
{% endblock %}
